/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Zookeepers implementation : © <Matheus Gomes> <matheusgomesforwork@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * zookeepers.css
 *
 * Zookeepers stylesheet
 *
 */

 #bga-zoom-wrapper {
  position: relative;
}
#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}
#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}
#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}
#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}
#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}
#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}
#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}
#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}
#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}
#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

/* END OF BGA-ZOOM MODULE */

:root {
  --zkpCardHeight: 249px;
  --zkpCardRadius: 16px;
}

.bgaimagebutton {
  padding: 0;
  min-height: 28px;
  border: none;
  pointer-events: none;
}

.head_warning {
  background-color: yellow;
}

.zkp_log_highlight {
  font-weight: bold;
}

.zkp_hide {
  visibility: hidden;
}

.zkp_gameplay_area *:not(.zkp_card) {
  box-sizing: border-box;
}

.zkp_gameplay_area .whiteblock {
  border-radius: var(--zkpCardRadius);
  margin: 0;
}

.zkp_background_contain {
  background-size: contain;
}

.zkp_card {
  border-radius: var(--zkpCardRadius);
  box-shadow: 1px 1px 3px black;
  height: var(--zkpCardHeight);
  width: 180px;
}

.zkp_highlight {
  border: 3px solid blue !important;
}

.zkp_column_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.zkp_row_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.zkp_board_resources {
  display: flex;
  align-self: flex-start;
  gap: 4px;
  clear: both;
  padding: 4px;
}

.zkp_resource {
  display: flex;
  align-items: center;
  gap: 4px;
}

.zkp_resource_icon {
  display: inline-block;
  position: relative;
  background-image: url("img/cubes.png");
  height: 30px;
  width: 30px;
}

.zkp_plant_icon {
  background-position: -400% 0;
}

.zkp_meat_icon {
  background-position: -200% 0;
}

.zkp_kit_icon {
  background-position: -500% 0;
}

.zkp_species_icon {
  background-image: url("img/paw.png");
  background-size: contain;
  height: 40px;
  width: 40px;
}

.zkp_resource_cube {
  position: relative;
}

.zkp_objective {
  height: var(--zkpCardHeight);
  width: 180px;
}

.zkp_bigger_objective {
  background-image: url("img/bigger_objectives.png");
  border-radius: 24px;
  height: 332px;
  width: 240px;
}

.zkp_common_area {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 8px;
  width: 100%;
}

.zkp_bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  min-height: 249px;
}

.zkp_bag_title {
  font-size: 24px;
}

.zkp_bag_stock {
  height: 150px;
  width: 150px;
}

.zkp_bag_img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.zkp_bag_counters {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.zkp_keeper_piles {
  display: grid;
  grid-template-columns: repeat(2, 180px);
  gap: 12px;
}

.zkp_keeper_piles.zkp_fast_mode {
  grid-template-columns: 180px;
}

.zkp_bigger_species {
  display: block;
  background-image: url("img/bigger_species.png");
  border-radius: 24px;
  height: 332px;
  width: 240px;
  margin: 0 auto 4px auto;
}

.zkp_species_deck {
  background-image: url("img/species_back.png");
  background-size: contain;
}

.zkp_species_shop {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 1200px) {
  .zkp_species_shop.zkp_fast_mode {
    align-items: center;
    width: 100%;
  }
}

.zkp_backup_shop {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  align-items: end;
  gap: 8px;
}

.zkp_visible_shop {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  gap: 8px;
}

.zkp_visible_shop.zkp_fast_mode {
  grid-template-columns: repeat(3, 180px);
}

.zkp_backup_species {
  background-image: url("img/species_back.png");
  background-size: contain;
}

.zkp_objectives_deck {
  background-image: url("img/objectives_back.png");
  background-size: contain;
}

.zkp_playmats {
  display: grid;
  grid-template-columns: repeat(auto-fit, 930px);
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.zkp_playmat_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 8px;
  width: 100%;
}

.zkp_playmat {
  position: relative;
  background-image: url("img/playmat.png");
  background-size: 700.5px 700.5px;
  background-position: bottom 67.5px center;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 937.5px;
  width: 900px;
}

.zkp_playmat.zkp_fast_mode {
  background-image: url("img/playmat_fm.jpg");
}

.zkp_zoo_title {
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  width: fit-content;
}

.zkp_houses {
  position: absolute;
  top: 259.5px;
  left: 259.5px;
  display: grid;
  grid-template-columns: repeat(2, 180px);
  column-gap: 24px;
  row-gap: 12px;
  height: 540px;
}

.zkp_houses > div {
  height: 175px !important;
}

.zkp_houses.zkp_fast_mode {
  top: 320px;
  column-gap: 20px;
}

.zkp_houses.zkp_fast_mode > div:first-child {
  position: relative;
  top: 135px;
}

.zkp_bigger_keeper {
  background-image: url("img/bigger_keepers.png");
  border-radius: 24px;
  height: 332px;
  width: 240px;
}

.zkp_playmat_counters {
  position: absolute;
  top: 184px;
  left: 459px;
  height: 48px;
  width: 170px;
}

.zkp_playmat_counters.zkp_fast_mode {
  top: 190px;
  left: 483px;
}

.zkp_playmat_counter {
  height: 30px;
  width: 30px;
}

.zkp_playmat_counter:nth-child(odd):not(.zkp_fast_mode) {
  top: 30px;
}

.zkp_playmat_counter:nth-child(even).zkp_fast_mode {
  top: 30px;
}

.zkp_playmat_counter_0 {
  position: absolute;
}
.zkp_playmat_counter_1 {
  position: absolute;
  left: 15px;
}
.zkp_playmat_counter_2 {
  position: absolute;
  left: 33px;
}
.zkp_playmat_counter_3 {
  position: absolute;
  left: 49.5px;
}
.zkp_playmat_counter_4 {
  position: absolute;
  left: 66px;
}
.zkp_playmat_counter_5 {
  position: absolute;
  left: 81px;
}
.zkp_playmat_counter_6 {
  position: absolute;
  left: 99px;
}
.zkp_playmat_counter_7 {
  position: absolute;
  left: 114px;
}
.zkp_playmat_counter_8 {
  position: absolute;
  left: 130.5px;
}
.zkp_playmat_counter_9 {
  position: absolute;
  left: 150px;
}

.zkp_quarantine {
  border-radius: var(--zkpCardRadius);
  height: var(--zkpCardHeight);
  width: 180px;
}

.zkp_quarantine_ALL {
  position: absolute;
  top: 0;
  left: 259.5px;
}

.zkp_quarantine_TEM {
  position: absolute;
  top: 150px;
  left: 0;
}
.zkp_quarantine_SAV {
  position: absolute;
  top: 405px;
  left: 0;
}
.zkp_quarantine_SAV.zkp_fast_mode {
  top: 395px;
}
.zkp_quarantine_PRA {
  position: absolute;
  top: 660px;
  left: 0;
}

.zkp_quarantine_DES {
  position: absolute;
  top: 150px;
  right: 0;
}
.zkp_quarantine_AQU {
  position: absolute;
  top: 405px;
  right: 0;
}
.zkp_quarantine_TRO {
  position: absolute;
  top: 660px;
  right: 0;
}

.zkp_completed_keeper {
  background-image: url("img/keepers_backs.png") !important;
}

.zkp_empty_pile {
  background: rgba(0, 0, 0, 0.3);
  border-radius: var(--zkpCardRadius);
  box-shadow: none;
}

.stockitem:not(:first-child, .zkp_backup_column > .stockitem) {
  pointer-events: none;
}

/* animations */

.zkp_expand_house {
  position: absolute;
  background-image: url("img/expand.svg");
  background-color: #4871b6;
  background-size: 21px;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position: center;
  border: 1.5px solid #37578c;
  border-radius: 100%;
  box-shadow: 0 1.5px 0 #000;
  color: white;
  cursor: pointer;
  height: 36px;
  width: 36px;
  overflow: hidden;
  padding: 6px;
  z-index: 98;
}

.zkp_expand_house_1 {
  top: 255px;
  left: 420px;
}

.zkp_expand_house_1.zkp_fast_mode {
  top: 440px;
}

.zkp_expand_house_2 {
  top: 255px;
  left: 622.5px;
}

.zkp_expand_house_2.zkp_fast_mode {
  top: 310px;
}

.zkp_expand_house_3 {
  top: 525px;
  left: 420px;
}
.zkp_expand_house_4 {
  top: 525px;
  left: 622.5px;
}

.zkp_house.zkp_expanded > .stockitem {
  top: 0 !important;
  pointer-events: all;
  transition: all 1s;
}

.zkp_house.zkp_expanded > .stockitem:not(:first-child):active {
  pointer-events: none;
}

.zkp_house.zkp_expanded > .stockitem:nth-child(2) {
  transform: translate(0, 255px);
  z-index: 99 !important;
}
.zkp_house.zkp_expanded > .stockitem:nth-child(3) {
  transform: translate(-186px, 255px);
  z-index: 99 !important;
}
.zkp_house.zkp_expanded > .stockitem:nth-child(4) {
  transform: translate(186px, 255px);
  z-index: 99 !important;
}
