/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Zookeepers implementation : © <Matheus Gomes> <matheusgomesforwork@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * zookeepers.css
 *
 * Zookeepers stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (zookeepers_zookeepers.tpl), and to HTML elements you create dynamically
    (in zookeepers.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/
#game_play_area * {
  box-sizing: border-box;
}

.zkp_resource {
  display: flex;
  align-items: center;
  gap: 4px;
}

.zkp_resource_icon {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("img/cubes.png");
  height: 30px;
  width: 30px;
}

.zkp_plant_icon {
  background-position: -120px 0;
}

.zkp_meat_icon {
  background-position: -60px 0;
}

.zkp_kit_icon {
  background-position: -150px 0;
}

.zkp_resource_cube {
  position: relative;
}

.zkp_board {
  clear: both;
  padding: 4px;
  display: flex;
  gap: 4px;
}

.zkp_playmats {
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.zkp_playmat_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 8px;
  width: 500px;
}

.zkp_playmat {
  background-image: url("img/playmat.png");
  background-size: 350px 350px;
  background-position: bottom;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 400px;
  width: 450px;
}

.zkp_common_area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}

.zkp_bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.zkp_bag_img {
  background-image: url("img/bag.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -16px;
  height: 150px;
  width: 150px;
  z-index: 1;
}

.zkp_bag_counters {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.zkp_keeper_decks {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.zkp_keeper_deck {
  background-image: url("img/keepers_backs.png");
}

.zkp_keeper_deck_2 {
  background-position: -126px -3px;
}

.zkp_keeper_deck_3 {
  background-position: -3px -171px;
}

.zkp_keeper_deck_4 {
  background-position: -3px -3px;
}

.zkp_keeper_deck_5 {
  background-position: -249px -3px;
}

.zkp_species_deck {
  background-image: url("img/species_back.png");
  background-size: contain;
  margin-left: 16px;
}

.zkp_card {
  border-radius: 12px;
  box-shadow: 0 0 8px 2px black;
  height: 165px;
  width: 120px;
  background-repeat: no-repeat;
}

.bgaimagebutton {
  padding: 0;
  min-height: 28px;
  border: none;
  pointer-events: none;
}
