/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Zookeepers implementation : © <Matheus Gomes> <matheusgomesforwork@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * zookeepers.css
 *
 * Zookeepers stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (zookeepers_zookeepers.tpl), and to HTML elements you create dynamically
    (in zookeepers.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/

.bgaimagebutton {
  padding: 0;
  min-height: 28px;
  border: none;
  pointer-events: none;
}

.head_warning {
  background-color: yellow;
}

.zkp_gameplay_area *:not(.zkp_card) {
  box-sizing: border-box;
}

.zkp_gameplay_area .whiteblock {
  border-radius: 12px;
  margin: 0;
}

.zkp_background_contain {
  background-size: contain;
}

.zkp_card {
  border-radius: 12px;
  box-shadow: 1px 1px 3px black;
  height: 166px;
  width: 120px;
}

.zkp_highlight {
  border: 2px solid blue !important;
}

.zkp_column_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.zkp_row_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.zkp_board_resources {
  display: flex;
  gap: 4px;
  clear: both;
  padding: 4px;
}

.zkp_resource {
  display: flex;
  align-items: center;
  gap: 4px;
}

.zkp_resource_icon {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("img/cubes.png");
  height: 30px;
  width: 30px;
}

.zkp_plant_icon {
  background-position: -120px 0;
}

.zkp_meat_icon {
  background-position: -60px 0;
}

.zkp_kit_icon {
  background-position: -150px 0;
}

.zkp_species_icon {
  background-image: url("img/paw.png");
  background-size: contain;
  height: 40px;
  width: 40px;
}

.zkp_resource_cube {
  position: relative;
}

.zkp_common_area {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 8px;
  width: 100%;
}

.zkp_bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.zkp_bag_img {
  background-image: url("img/bag.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -16px;
  height: 150px;
  width: 150px;
}

.zkp_bag_counters {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.zkp_keeper_piles {
  display: grid;
  grid-template-columns: repeat(2, 122px);
  gap: 8px;
}

.zkp_keeper_pile {
  background-image: url("img/keepers_backs.png");
}

.zkp_bigger_species {
  display: block;
  background-image: url("img/bigger_species.png");
  border-radius: 24px;
  height: 332px;
  width: 240px;
  margin: 0 auto 4px auto;
}

.zkp_species_deck {
  background-image: url("img/species_back.png");
  background-size: contain;
}

.zkp_species_shop {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.zkp_backup_shop {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  align-items: end;
  gap: 8px;
}

.zkp_visible_shop {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  gap: 8px;
}

.zkp_backup_species {
  background-image: url("img/species_back.png");
  background-size: contain;
}

.zkp_objectives_deck {
  background-image: url("img/objectives_back.png");
  background-size: contain;
}

.zkp_playmats {
  display: grid;
  grid-template-columns: repeat(auto-fit, 620px);
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.zkp_playmat_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 8px;
  width: 100%;
}

.zkp_playmat {
  position: relative;
  background-image: url("img/playmat.png");
  background-size: 467px 467px;
  background-position: bottom 45px center;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 625px;
  width: 600px;
}

.zkp_keepers {
  position: absolute;
  top: 173px;
  left: 173px;
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 16px;
}

.zkp_keepers > * {
  height: 175px !important;
}

.zkp_objective {
  position: absolute;
  top: 0;
  left: 305px;
  height: 166px;
  width: 120px;
}

.zkp_bigger_objective {
  background-image: url("img/bigger_objectives.png");
  border-radius: 24px;
  height: 332px;
  width: 240px;
}

.zkp_quarantine {
  border-radius: 12px;
  height: 166px;
  width: 120px;
}

.zkp_quarantine_ALL {
  position: absolute;
  top: 0;
  left: 173px;
}

.zkp_quarantine_TEM {
  position: absolute;
  top: 100px;
  left: 0;
}
.zkp_quarantine_SAV {
  position: absolute;
  top: 270px;
  left: 0;
}
.zkp_quarantine_PRA {
  position: absolute;
  top: 440px;
  left: 0;
}

.zkp_quarantine_DES {
  position: absolute;
  top: 100px;
  right: 0;
}
.zkp_quarantine_AQU {
  position: absolute;
  top: 270px;
  right: 0;
}
.zkp_quarantine_TRO {
  position: absolute;
  top: 440px;
  right: 0;
}

.zkp_completed_keeper {
  background-image: url("img/keepers_backs.png") !important;
}

.zkp_empty_pile {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

.stockitem:not(:first-child, .zkp_backup_column > .stockitem) {
  pointer-events: none;
}

/* animations */

.zkp_house:hover > .stockitem {
  top: 0 !important;
  transition: all 1s;
}

.zkp_house:hover > .stockitem:nth-child(2) {
  transform: translate(0, 190px);
  z-index: 99;
}
.zkp_house:hover > .stockitem:nth-child(3) {
  transform: translate(-124px, 190px);
  z-index: 99;
}
.zkp_house:hover > .stockitem:nth-child(4) {
  transform: translate(124px, 190px);
  z-index: 99;
}
